<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- PERMISSÕES BLUETOOTH -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />

    <application
        android:allowBackup="true"
        android:label="Balance Tech"
        android:supportsRtl="true"
        android:theme="@style/Theme.BalanceTech_TCC_Equipe05">

        <!-- 1. SPLASH (Tela de Abertura) -->
        <activity
            android:name=".Activites.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 2. BEM-VINDO (Abre após a Splash) -->
        <activity
            android:name=".Activites.BemVindoActivity"
            android:exported="false" />

        <!---3. BEM VINDO(Entrar)-->

        <activity
            android:name=".Activites.CadastroActivity"
            android:exported="false" />

        <!--- 4. BEM VINDO(Login) -->

        <activity
            android:name=".Activites.LoginActivity"
            android:exported="false" />

    </application>

</manifest>